body {
	font-family: sans-serif;
	margin: 0;
  word-wrap: break-word;
  --main-color: #66BE6C;
  text-align: center;
}
h1 {
	margin: 0;
	padding: .0em;
	background-color: var(--main-color);
	color: white;
	font-size: 4vw;
	text-align: center;
}
h2 {
  font-size: 3vw;
}
.subtitle {
	text-align: center;
	margin: 0;
	padding: .3em;
	background-color: var(--main-color);
	color: white;
	font-size: 3vw;
}
.code {
	border: 1px solid gray;
	padding: 1em;
	margin: 1em;
	text-align: left;
	white-space: pre-wrap;
}
/* footer */
#src {
	margin: 1em 0 .5em 0;
}
a {
	color: gray !important;
}
